<div class="row">
  <div class="col-md-6">

<%= simple_form_for @recipe do |f| %>

  <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"} %>
  <%= f.input :title , class: 'form-control' %>
  <%= f.input :text %>
  <%= f.button :submit %>
<% end %>
</div>
